h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

/* ID */
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

/* Class */
.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad; /*https://developer.mozilla.org/en-US/docs/Web/CSS/border*/
  border-bottom: 5px solid #1098ad;
}

body {
  background-color: rgba(255, 255, 255, 0.86);
}

/* .first-li {
  font-weight: bold;
} */

/* Pseudo-Class */
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* Pode se usar "odd" (ímpar), even(par) */
/* li:nth-child(2) {
  color: red;
} */

/*Prestar atenção na sintax, pois o primeiro filho do article é o header*/
/* article p: :first-child {
  color: red;
} */

/*Styling Links*/ /*https://css-tricks.com/almanac/selectors/l/link/*/

a:link {
  color: #1098ad;
  text-decoration: none;
}

/*Visited é a cor do link*/
a:visited {
  color: #777;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline wavy orangered;
}
a:active {
  background-color: black;
  font-style: italic;
}
